/*
--------------
HEADER
--------------
*/

header {
	margin-top: 3em;
}

#nav-bar-left,
#nav-bar-right {
	width: 30em;
}

#nav-bar-center {
	margin: 0 2em;
}

.menu-items {
	font-size: 1.4em;
	letter-spacing: 0.25em;
	padding: 0 1.5em;
}

.nav-bar-line {
	margin: 1.5em 0;
}

#nav-bar-spacer {
	width: 15.5em;
	height: 5em;
}

#nav-bar-center {
	margin-top: -10em;
}


/*
--------------
HOME PROJECTS
--------------
*/


#home-projects,
#print-projects {
	margin-top: 5em;
}

.project {
	margin-bottom: 7.5em;
}

.project-image {
	width: 76em;
	height: 40em;
	background-size: 76em auto;
}

.project-text {
	width: 70em;
	margin: auto;
}

.project-client {
	font-size: 2.4em;
	letter-spacing: 0.25em;
	margin-top: 0.3em;
}

br {
	display: none;
}

.project-title {
	font-size: 1.6em;
	letter-spacing: 0.25em;
	margin-top: -0.25em;
}

.project-description {
	margin-top: 1em;
	font-size: 1.2em;
	line-height: 2em;
}





.print-project {
	margin-bottom: 10em;
}

.print-image-container {
	width: 76em;
	height: 33em;
	margin-bottom: 2em;	
}

.print-image-container img {
	height: 33em;
}

.print-image-container img {
	display: inline-block;
}

.print-left {
	float: left;
}

.print-right {
	float: right;
}

.print-center {
	margin: auto;
}




.bio-project {
	height: 120em;
}

.bio-description {
	width: 30em;
	margin: 2em auto;
}

.bio-br {
	display: block;
}



.contact-project {
	height: 40em;
}


/*
--------------
FOOTER
--------------
*/



