
/*
--------------
HEADER
--------------
*/

header {
	margin-top: 3em;
}

#nav-bar-left,
#nav-bar-right {
	width: 14.5em;
}

.menu-items {
	font-size: 1.4em;
	letter-spacing: 0.25em;
	line-height: 2em;
}

.nav-bar-line {
	margin: 1em 0;
}

#nav-bar-spacer {
	width: 13.5em;
	height: 5em;
}

#nav-bar-center {
	margin-top: -10em;
	top: -0.9em;
}

/*
--------------
HOME PROJECTS
--------------
*/


#home-projects,
#print-projects {
	margin-top: 5em;
}

.project {
	margin-bottom: 5em;
}

.project-image {
	width: 100%;
	height: 35em;
	background-size: 110%;
	background-repeat: no-repeat;
}

.project-text {
	width: 45em;
	margin: auto;
}

.project-client {
	font-size: 2em;
	letter-spacing: 0.25em;
	margin-top: 0.75em;
}

br {
	display: none;
}

.project-title {
	font-size: 1.4em;
	letter-spacing: 0.15em;
	margin-top: -0.25em;
}

.project-description {
	margin-top: 1em;
	font-size: 1.2em;
	line-height: 2em;
}



.print-project {
	margin-bottom: 10em;
	height: 475em;
}

.print-image-container {
	width: 42.5em;
	height: 33em;
	margin-bottom: 2em;	
}

.print-image-container img {

}

.print-image-container img {
	display: block;
	margin-bottom: 2em;
}

.print-left {
	float: left;
}

.print-right {
	float: right;
}

.print-center {
	margin: auto;
}





.bio-project {
	height: 130em;
}

.bio-description {
	width: 30em;
	margin: 2em auto;
}

.bio-br {
	display: block;
}


/*
--------------
FOOTER
--------------
*/

